body {
    background-image: url("10943655.jpg");
    background-size: 100%;  
    background-repeat: no-repeat;
}

.Picture {

    width: 500px;

}

.Text{
    color: rgb(0, 255, 0);
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.Pic-E {
    height: 50%;

}

.cont-pos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20%;

    height: 50%;


}
.inf-pos {
    display: flex;
    justify-content: center;
    margin-top: 10%;

    
}